@import '../../../app/variables.scss';

.advantages_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 15px;
    background: $block-color center center/cover no-repeat scroll;
    min-height: 580px;
    margin: 0 auto;
    z-index: 1;
    flex-wrap: wrap;
    gap: 50px;

    @media (max-width: 670px) {
        min-height: 690px;
    }

    &_smallUrn {
        z-index: -1;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 75px;
        left: -122px;

        @media (max-width: 670px) {
            left: -15px;
        }
    }

    &_largeUrn {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50px;
        z-index: -1;
        left: 15px;

        @media (max-width: 670px) {
            left: 115px;
        }
    }

    &_text {
        max-width: 680px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &_descr {
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            font-family: 'Mariupol';
            color: $main-color;
            text-align: left;
            font-weight: 400;

            @media (max-width: 1100px) {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }

    &_order {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @media (max-width: 1100px) {
            align-items: flex-start;
        }

        &_button {
            text-align: center;
            text-transform: uppercase;
            background: $main-color;
            padding: 12px 25px 12px 25px;
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            font-family: 'Mariupol';
            color: $block-color;
            border: none;
            font-weight: 400;

            @media (max-width: 834px) {
                width: 252px;
                font-size: 18px;
                margin-top: 15px;
                line-height: 20px;
            }

            @media (max-width: 670px) {
                font-size: 17px;
                line-height: 18px;
            }

            @media (max-width: 430px) {
                width: 202px;
                font-size: 13px;
                padding: 8px 8px 8px 8px;
                line-height: 14px;
            }

            &:hover,
            &:focus,
            &:active {
                outline: none;
                background: none;
                color: $main-color;
                border: 1px solid $main-color;
            }
        }

        &_descr {
            width: 340px;
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            font-family: 'Mariupol';
            color: $main-color;
            text-align: left;
            font-weight: 400;

            @media (max-width: 1100px) {
                text-align: left;
                font-size: 18px;
                line-height: 20px;
            }

            @media (max-width: 670px) {
                width: 240px;
            }
        }
    }
}