@import '../../app/variables.scss';

.composition {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;

    @media(max-width: 1200px) {
        max-width: 85%;
    }

    @media(max-width: 800px) {
        max-width: 90%;
        gap: 20px;
    }

    @media(max-width: 670px) {
        flex-direction: row;
        max-width: 95%;
        gap: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &_product_column {
        width: 48%;
        gap: 10px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &_product {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        position: relative;
        gap: 20px;
        min-height: 100px;

        &_text {
            order: 1;

            &_title {
                font-family: 'Anglecia Pro Display';
                font-style: italic;
                color: $block-color;
                font-weight: 400;
                font-size: 22px;
                line-height: 22px;

                @media(max-width: 1200px) {
                    font-size: 18px;
                    line-height: 19px;
                }

                @media(max-width: 800px) {
                    font-size: 16px;
                    line-height: 17px;
                }
            }

            &_descr {
                font-family: 'Mariupol';
                font-style: normal;
                margin-top: 5px;
                color: $block-color;
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;

                @media(max-width: 1200px) {
                    font-size: 16px;
                    line-height: 17px;
                }

                @media(max-width: 800px) {
                    font-size: 13px;
                    line-height: 14px;
                }
            }
        }

        &_image {
            order: 0;
            width: 100%;
            height: 551px;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            &_tooltip {
                display: flex;
                padding-top: 20%;
                justify-content: space-around;
                align-items: flex-start;
                z-index: 3;
                position: absolute;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 50%;
                bottom: -75%;
                left: 50%;
                background: linear-gradient(180deg, rgba(127, 85, 57, 0.016) 0%, rgba(127, 85, 57, 0.8) 0%);

                &_size {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                }

                &_label {
                    font-family: 'Mariupol';
                    font-style: normal;
                    color: $main-color;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 20px;
                    margin-bottom: -15px;
                }

                &_image {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &_sizes {
                z-index: 3;
                transform: translate(-50%, -50%);
                position: absolute;
                bottom: 5px;
                right: 0px;
                font-family: 'Mariupol';
                font-style: normal;
                color: $main-color;
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 0;

                &_arrow {
                    top: 12px;
                    position: absolute;
                    right: -35px;
                }
            }

            @media(max-width: 1200px) {
                height: 430px;
            }

            @media(max-width: 1000px) {
                height: 340px;
            }

            @media(max-width: 700px) {
                height: 244px;
            }

            @media(max-width: 670px) {
                height: 344px;
                //height: 165px;
            }

            @media(max-width: 500px) {
                height: 244px;
            }

            @media(max-width: 450px) {
                height: 244px;
            }

            @media(max-width: 370px) {
                height: 165px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}